<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>clientList</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-text class="ion-text-center"><h1>Client List</h1></ion-text>

  <ion-list>
    <ion-item *ngFor="let cliente of clienteList" [routerLink]="['/add-cliente', cliente.id]">
      <ion-label>
        <h2>{{cliente.name}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/add-client" color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
