ion-content h1{
    margin: 60px;
    font-size: 50px;
}

ion-content form{
    margin: 0 25px;

}
ion-content form ion-item{
    margin: 20px 0;
    font-size: 20px;
}

ion-content form ion-button{
    margin: 30px 0;
}

#buttons {
    margin: 90px 0 0;
}