<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defautHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>CarFixer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-text class="ion-text-center"><h1>{{ titlePage }}</h1></ion-text>

  <form [formGroup]="formGroup" (ngSubmit)="bt_save()">
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input type="text" formControlName="nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">CPF</ion-label>
      <ion-input type="text" formControlName="cpf"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Telefone</ion-label>
      <ion-input type="text" formControlName="telefone"></ion-input>
    </ion-item>

    <div id="buttons">
      <ion-button type="submit" size="large" shape="round" expand="block" color="primary" [disabled]="!formGroup.valid">Save</ion-button>
    </div>
  </form>

  <ion-text class="ion-text-center"><h2>Veículos</h2></ion-text>
  <ion-text class="ion-text-center" [hidden]="(cliente.veiculos.length > 0)"><p>Esse cliente não possui veículos cadastrados!</p></ion-text>
  <ion-list [hidden]="!cliente.veiculos.length">
    <ion-item-sliding *ngFor="let veiculo of cliente.veiculos">
      <ion-item [routerLink]="['/add-veiculo/', veiculo.id]" detail>
        <ion-label>
          <h2>
            <ion-icon name="car-outline" [color]="'primary'"></ion-icon>
            {{veiculo.modelo}}
          </h2>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

</ion-content>
